@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Righteous&family=Roboto:ital,wght@0,500;0,700;1,400&family=Sarala:wght@400;700&display=swap');

/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2e344a 16.62%, #b38383 85.61%)
}

.cabecalho {
    display: flex; /* só o fato de colocar flex já faz com que os itens fiquem na mesma linha */
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}


.logo {
    height: 60px;
}

.cabecalho-menu {
    display: flex;
    gap: 30px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #670606;
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    border-top: 0.4px solid #670606;
    margin-bottom: 48px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #fff2e7;
}

.conteudo-principal-escrito-titulo-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ecd6c4;
}

.conteudo-principal-escrito-botao {
    background-color: #b38383;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2e344a ;
}

.conteudo-principal-escrito-botao:hover {
    background-color: rgba(236, 214, 196, 0.53);
    cursor: pointer;
}

.bot-img {
    height: 220px;
    width: 220px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #670606;
    padding-top: 40px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #ecd6c4;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #1d1924;
}

.footer {
    padding: 10px;
    border-top: 0.4px solid #670606;
    align-items: center; 
}

.footer-img {
    height: 100px;
    display: block; /* para centralizar só um elemento */
    margin: 0 auto;
}